{% extends "layout.html" %}
<!-- contents -->
{% block content %}

<div class="container text-centered">
  <div class="row center border rounded" style="height: {{image_size}}px;">
    <img src="" alt="Connection Failed" />
  </div>
</div>

{% endblock %}
<!-- player info -->
{% block details %}

<div class="container text-centered border rounded">
  <div class="row">
    <div class="h4 position-relative">Throttle:</div>
    <div class="h5 align-middle mx-3 mt-1" id="throttle">Stop</div>
  </div>
  <div class="row">
    <div class="h4">Steering:</div>
    <div class="h5 mx-3 mt-1" id="steering">Neutral</div>
  </div>
</div>

{% endblock %}
<!-- scripts -->
{% block script %}
<script
  src="http://code.jquery.com/jquery-1.4.2.min.js"
  type="text/javascript"
></script>
<script src="{{ url_for('static', filename='player_game_script.js') }}"></script>
{% endblock %}
